main{
    z-index: 10;
    grid-area: main;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    section{
        width: 100vw;
        height: auto;
        
    }
    h1{
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        margin: 20px;
    }
    h2{
        grid-area: Sub_title;
        padding-top: 55px;
        text-transform: capitalize;
        text-align: center;
        font-size: 25px;
        max-width: 550px;
        }
    p{
        text-align: justify;
        font-size: 18px;
        max-width: 550px;
    }
    .btn{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        height: 50px;
        width: 50px;
        background-color: rgba($color: #888, $alpha: 0.3);
        border: none;
        border-radius: 5px;
        &:hover{
            background-color: #000;
            i{
                color: white;
            }
        }
    }
    
    .home{
        h1{
            padding-top:25px ;
        }
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 98%;

        p:nth-child(3){
            width: 100%;
            text-transform: capitalize;
            text-align: center;
           
        }
        img{
            margin: 20px 0 10px 4px;
            width: 97%;
            height: 35vh;
            max-width: 550px;
        }
    }
    .explore{
        
        display: grid;
        grid-template-areas: "Sub_title Sub_title Sub_title" 
                             "conten_fav conten_fav conten_fav";
        
        grid-template-columns: 1fr 6fr  1fr ;
        grid-template-rows: auto;
        background-color: rgba($color: #000, $alpha: 0.8);
        
        h2 , h3,h4{
            color: white;
            text-align: center;
        }
        
        .content_comics{
            grid-area: conten_fav;
            h3 , h4{
                width: 100%;
                padding: 10px;
                text-align: start;
                text-transform: capitalize
            }
            p{
                text-align: justify;
                font-size: 18px;
                color: white;
                width: 90%;
            }
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: flex-start;
            height: auto;
            
            position: relative;
            top:0;
            img{
                width: 55vh;
                height: 55vh;
            }
            .show_comics{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: flex-start;

                #favorite_comic{
                    position: relative;
                    top: -50px;
                    left: 35%;
                    width: 100px;
                    height: 30px;
                    
                }
            }
        }

    }
    .favorites_comics{

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: start;
        height: auto;
        h2{ 
            padding: 15px;
        }
        .favorite{
            
            width: 95%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-content: flex-start;
            .show_comics_add{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
                width: 300px;
                height: 300px;
                background-color: #000;
                border-radius: 3px;
                margin: 5px;
                img{
                    width: 100%;
                }
                button{
                    margin-top: 10px;
                    height: 30px;
                    width: 30px;
                }
            }
        }

    }
}